# ImageModel（画像認識モデル）の API 契約。手動管理。
# 本体: ../../../../ImageModel/image-model（FastAPI / AWS App Runner）。
# DustalkChat はブラウザ→Next.js プロキシ（/api/detect）→本 API の順で呼ぶ。
openapi: 3.0.3
info:
  title: ImageModel API（画像物体検出・産廃分類）
  version: 1.3.0
  description: |
    画像から回収対象品目または産業廃棄物の構成を判定する REST API。

    2 つのモードを持つ。
    - `mode=general`（既定）: 品目名・構造化属性（型番/メーカー/年式/容量）・
      バウンディングボックス（画像に対する % 座標）を返す
    - `mode=industrial`: 産業廃棄物の大分類（JWNET 32 分類）・構成割合・堆積体積を返す

    両モードとも、判定が曖昧な箇所を示す `retakeSuggestions` を返す。
    追加撮影した写真を `additional` で渡すと、主写真と統合して再推定する。

    内部は Google Gemini（primary: gemini-3.7-flash / fallback: gemini-3.6-flash）。
    モデル名の正は ImageModel の `app/models.py`（ADR-002）。
    本体実装は `ImageModel/image-model`（FastAPI, Python 3.12, port 8080）。

    ## 運用上の前提（実測）

    | | |
    |---|---|
    | レイテンシ（単発） | 3.0 〜 6.1 秒（n=14） |
    | レイテンシ（並列 5 本） | 4.3 秒 |
    | タイムアウト予算 | 1 回の呼び出し 20 秒 / リクエスト全体 45 秒。使い切ると 504 |
    | 入力 | 1 枚 10MB・**主写真＋追加写真の合計 12MB**・追加は最大 3 枚 |
    | 形式 | image/jpeg, image/png, image/gif, image/webp |
    | 1 枚あたりのコスト | 約 $0.0047（入力 1,915 / 出力 434 / 思考 445 トークン） |
    | インフラ | AWS App Runner 0.25 vCPU / 0.5 GB・ワーカー 1 |

    **クライアント側のタイムアウトは 45 秒より長く取ること。** 短いと、サーバが
    まだ処理中なのに切れて二重送信になる。エラー body の `retryable` を見て
    再送の可否を決められる（429 / 503 / 504 が true、400 / 401 / 422 が false）。

    ## 使う側の注意

    - **`confidence` はモデルの自己申告で較正されていない。** 料金の分岐に直接使わない
    - **`id` はそのレスポンス内でのみ有効。** 再リクエストで同じ物体を指す保証はない
    - 検出物体のうち**画面占有率が小さいものは背景の写り込みであることが多い**。
      面積は `bbox.width * bbox.height` で出せる
    - **bbox の座標系は EXIF orientation 適用後**（＝ブラウザが表示する向き）。
      撮影された元ファイルをそのまま `<img>` に描き、% を CSS に当てればよい

    ## 現在の状態

    - `API_KEY` **未設定**（＝誰でも叩ける）。`ALLOWED_ORIGINS` **未設定**（＝クロスオリジンは全拒否）
    - ⚠ **Gemini がプロジェクトの月次上限に到達している。** 解消するまで上流が 429 を返す

    ## 呼び出し経路
    ブラウザからは CORS 制約のため直接叩かず、DustalkChat の Next.js プロキシ
    （`src/app/api/detect/route.ts`、`POST /api/detect`）経由で本 API を呼ぶ。
    クライアント型は `DustalkChat/.../src/lib/imageModel.ts`。
    ※ 検出結果の `attributes` 文字列パースは `src/lib/imageDetectionParser.ts`。

    ## ⚠️ クライアント型との差分（既知）
    `src/lib/imageModel.ts` の `DetectResponse` / `DetectedItem` は現状
    **`attributes` と トップレベル `model` を型に含めていない**（実 API は返す）。
    さらに DustalkChat は `mode` / `industrial` 系フィールド / `retakeSuggestions` を
    いずれも利用しておらず、品目名だけを取り出している。
    本書が実 API の正。クライアント型は将来追従させる想定。

servers:
  - url: https://jvxqvfx3pv.ap-northeast-1.awsapprunner.com
    description: Production（AWS App Runner, ap-northeast-1）

# `API_KEY` が設定されているときだけ `X-API-Key` を要求する（未設定なら認証なし）。
# ブラウザで動くテスト UI はシークレットを持てないため、同一オリジンからの
# 呼び出しは鍵なしでも許可される。
security:
  - ApiKeyAuth: []
  - {}

paths:
  /health:
    get:
      summary: ヘルスチェック
      description: |
        Gemini は叩かない。App Runner のヘルスチェックはここへ向ける。
        既定の `/` はテスト UI の HTML をディスクから読んで返すため向かない。
      operationId: health
      security: []
      responses:
        "200":
          description: 稼働中
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]

  /api/detect:
    post:
      summary: 画像から品目を検出 / 産業廃棄物を分類
      description: |
        画像を受け取り、`mode` に応じて品目検出または産廃分類の結果を返す。
        `mode=general` では無料引取候補カテゴリ（家電・自転車等）で
        型番/メーカー/年式/容量を抽出する。
        認証なし（パブリック）。ただしサーバ側 CORS で許可 Origin が制限される。
      operationId: detect
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: |
                    判定対象の主写真。
                    対応形式: image/jpeg, image/png, image/gif, image/webp。最大 10MB。
                    **主写真と追加写真の合計は 12MB まで**（base64 で 4/3 倍になるため、
                    Gemini のリクエスト上限から逆算した値）。超えると 400。
                mode:
                  type: string
                  description: |
                    判定モード。`general` は品目検出（bbox 付き）、
                    `industrial` は産業廃棄物の大分類・構成割合・堆積体積。
                  enum: [general, industrial]
                  default: general
                municipality:
                  type: string
                  description: |
                    **プロトタイプ。** 指定すると各品目に実寸推定
                    （`estimatedDimensions`）と自治体品目への解決結果
                    （`municipality`）を付ける。出力トークンが増えるので既定では付けない。
                    現在の対応値は `fukuoka` のみ。他の値は 400。
                    空文字（既定）なら両フィールドとも `null`。
                  enum: [fukuoka]
                additional:
                  type: array
                  maxItems: 3
                  description: |
                    同じ対象を別角度から撮り直した追加写真（任意・最大 3 枚）。
                    指定すると主写真と統合して再推定する。
                    座標（bbox / region）は常に主写真を基準に返る。
                    `retakeSuggestions` が最大 3 件なので枚数もそれに揃えてある。
                    4 枚以上は 400。
                  items:
                    type: string
                    format: binary
      responses:
        "200":
          description: 判定成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DetectResponse"
              examples:
                refrigerator:
                  summary: 冷蔵庫（mode=general・無料引取候補・属性あり）
                  value:
                    mode: general
                    items:
                      - id: 0
                        name: 冷蔵庫
                        info: "型番。説明,メーカー:Panasonic,年式:2020,容量:300L"
                        attributes:
                          modelNumber: NR-F500A
                          manufacturer: Panasonic
                          yearOfManufacture: "2020"
                          capacity: 300L
                          description: フレンチドア型、シルバー
                        color: "#e74c3c"
                        bbox:
                          x: 15.5
                          y: 20.3
                          width: 45.2
                          height: 60.8
                    retakeSuggestions: []
                    model: gemini-3.7-flash
                nonAppliance:
                  summary: 家具など（mode=general・属性は空文字・追加撮影ガイドあり）
                  value:
                    mode: general
                    items:
                      - id: 0
                        name: ソファ
                        info: "説明:3人掛け、グレー"
                        attributes:
                          modelNumber: ""
                          manufacturer: ""
                          yearOfManufacture: ""
                          capacity: ""
                          description: 3人掛け、グレー
                        color: "#3498db"
                        bbox:
                          x: 5.0
                          y: 40.0
                          width: 70.0
                          height: 35.0
                    retakeSuggestions:
                      - id: 1
                        region:
                          x: 60.0
                          y: 55.0
                          width: 25.0
                          height: 30.0
                        reason: 奥の家電の銘板が見えず型番を読み取れない
                        instruction: 奥の家電に近づいて正面から撮影してください
                    model: gemini-3.7-flash
                industrial:
                  summary: 産業廃棄物モード（mode=industrial）
                  value:
                    mode: industrial
                    items: []
                    classifications:
                      - majorCategory: 廃プラスチック類
                        code: "0600000"
                        ratio: 60
                        confidence: high
                        evidence: 発泡スチロールとフィルム状の梱包材が堆積の大半を占める
                      - majorCategory: 木くず
                        code: "0800000"
                        ratio: 40
                        confidence: medium
                        evidence: 木製パレットの破材が右奥に積まれている
                    volume:
                      min: 3.5
                      max: 5.0
                      unit: m3
                      basis: 木製パレット（1.1m 角）2 枚分の高さを基準に概算
                      referenceObjects: [木製パレット, ブロック塀]
                    sceneNote: 屋外の集積場に混合廃棄物が山積みされている
                    retakeSuggestions: []
                    model: gemini-3.7-flash
        "400":
          description: 非対応のファイル形式、サイズ超過（10MB）、または不正な mode
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                unsupportedType:
                  value:
                    detail: "Unsupported file type: application/pdf"
                tooLarge:
                  value:
                    detail: File too large (max 10MB)
                invalidMode:
                  value:
                    detail: "Invalid mode: foo"
        "401":
          description: API キーが必要（`API_KEY` 設定時のみ）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: safety filter 等でモデルが結果を返さなかった（再送しても同じ）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: 上流（Gemini）のレート制限。retryable は true。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: 上流の異常
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Gemini API が一時的に利用できない（鎖の全モデルが応答せず）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                upstream:
                  value:
                    detail: Gemini API が一時的に利用できません。しばらく待ってから再試行してください。
                    code: upstream_unavailable
                    retryable: true
        "504":
          description: タイムアウト予算（45 秒）を使い切った
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        サーバに `API_KEY` が設定されているときのみ必要。
        ブラウザからは同一オリジンなら鍵なしで呼べる。

  schemas:
    DetectResponse:
      type: object
      description: |
        両モード共通で `mode` / `items` / `retakeSuggestions` / `model` を返す。
        `mode=industrial` のとき `items` は常に空配列で（`items` を無条件参照する
        クライアント対策）、代わりに `classifications` / `volume` / `sceneNote` が入る。
      required: [mode, items, retakeSuggestions, model, image]
      properties:
        mode:
          type: string
          description: 実際に適用された判定モード。
          enum: [general, industrial]
        items:
          type: array
          description: 検出された品目（`mode=general` のみ。`industrial` では空配列）。
          items:
            $ref: "#/components/schemas/DetectedItem"
        classifications:
          type: array
          description: 産業廃棄物の大分類と構成割合（`mode=industrial` のみ）。
          items:
            $ref: "#/components/schemas/IndustrialClassification"
        volume:
          description: |
            堆積全体の体積推定（`mode=industrial` のみ）。
            推定不能な場合は null。
          nullable: true
          allOf:
            - $ref: "#/components/schemas/VolumeEstimate"
        sceneNote:
          type: string
          description: 堆積全体の状況の短い説明（`mode=industrial` のみ）。
        image:
          description: |
            サーバが実際に判定に使った画像のメタ情報。bbox の % を px に直すときの
            検算に使える。v1.2.0 で追加（additive）。
          allOf:
            - $ref: "#/components/schemas/ImageMeta"
        retakeSuggestions:
          type: array
          description: |
            判定を確定しづらい箇所を示す追加撮影ガイド。**最大 3 件**。
            確実に判断できている場合は空配列。
            ここで示された箇所を撮り直して `additional` に渡すと再推定される。
          maxItems: 3
          items:
            $ref: "#/components/schemas/RetakeSuggestion"
        model:
          type: string
          description: |
            推論に使用したモデル名。
            primary が失敗した場合 fallback の値が入る。
          enum:
            - gemini-3.5-flash
            - gemini-2.5-flash-lite

    DetectedItem:
      type: object
      description: 検出された品目 1 件。DustalkChat の `DetectedItem`（imageModel.ts）に対応。
      required: [id, name, info, attributes, color, bbox]
      properties:
        id:
          type: integer
          description: |
            **このレスポンス内でのみ有効な連番。** 再リクエスト間で同一の物体を
            指す保証はない（`additional` を足して再推定すると、品目の分割の仕方
            自体が変わる）。クライアントは再解析結果を新しい集合として扱うこと。
        name:
          type: string
          description: |
            カテゴリ名のみ（例 "冷蔵庫"）。型番・メーカーは含まない。
            **単数**であり、品目候補の配列は返さない。
        info:
          type: string
          description: |
            構造化属性を1行に連結した文字列（区切り: カンマ/セミコロン/改行）。
            DustalkChat 側は `imageDetectionParser.ts` でこれを解析する。
        attributes:
          $ref: "#/components/schemas/DetectedAttributes"
        color:
          type: string
          description: 可視化用カラーコード（例 "#e74c3c"）。サーバ側のローテーション配列から付与。
        bbox:
          $ref: "#/components/schemas/BBox"
        fullFrame:
          type: boolean
          default: false
          description: |
            box が画面のほぼ全面（面積 95% 超）を覆っている。
            **1 品目を寄って撮った写真では正常に立つ。**
            画像全体を 1 物体として返した誤検出のこともあるので、
            これが唯一の検出なら追加撮影を促す余地がある。
            以前はこの条件の唯一の検出をサーバ側で捨てていたが、
            評価セット 139 枚で 15 枚（11%）が該当し、うち 3 枚は正しい検出だった
            （レンガ・電気ケトル・ゴルフクラブ）ため、捨てずに印を返す方式に変えた。
        estimatedDimensions:
          description: |
            **`municipality` 指定時のみ。** モデルによる実寸推定。
            推定できなければ各値 0、`confidence` は `low`。
            指定しなければ `null`。
          oneOf:
            - $ref: "#/components/schemas/EstimatedDimensions"
            - type: "null"
        municipality:
          description: |
            **`municipality` 指定時のみ。** 自治体品目への解決結果。
            該当する品目が無ければ `null`（＝対象外。UI 側でそう出す）。
            指定しなければ `null`。
          oneOf:
            - $ref: "#/components/schemas/MunicipalityResolution"
            - type: "null"

    EstimatedDimensions:
      type: object
      description: |
        モデルが画像内の既知サイズの物体（ドア・畳・人・コンセントなど）を
        スケール参照にして推定した実寸。**しきい値の適用はサーバ側で行う**ので、
        モデルには自治体固有の基準を渡していない。
      required: [heightCm, widthCm, confidence]
      properties:
        heightCm:
          type: number
          description: 推定の高さ(cm)。推定できなければ 0。
        widthCm:
          type: number
          description: 推定の幅(cm)。推定できなければ 0。
        depthCm:
          type: number
          description: 推定の奥行(cm)。推定できなければ 0。
        confidence:
          type: string
          enum: [high, medium, low]
          description: |
            **モデルの自己申告であり較正されていない。**
            スケール参照物が無い写真でも high が返ることがある。
            料金の分岐に直接使わないこと。
        basis:
          type: string
          description: スケール参照に使った物体（例 "ドア"、"畳"）。

    MunicipalityResolution:
      type: object
      description: |
        **プロトタイプ。** 検出した物体を自治体の品目候補に解決した結果。
        本番ではこの解決は Dustalk 側（品目マスタを持つ側）で行い、
        ImageModel は検出語彙・bbox・estimatedDimensions までを返す想定。
        **手数料・排出方法は含めない。** 自治体マスタを持つ側が付ける。
      required: [word, wasteCategory, candidates]
      properties:
        word:
          type: string
          description: 自治体の品目表の語に寄せた結果。
        wasteCategory:
          type: string
          description: 自治体の分別区分（例 "粗大ごみ"）。
        candidates:
          type: array
          description: |
            品目候補。推定寸法を満たすものが先頭に来る。**1 件なら特定できている。**
            `本棚（高さ1m以上・横幅1m以上）` と `本棚（高さ1m未満・横幅1m未満）` は
            自治体の品目表では別の品目なので、写真から「本棚」まで特定できても
            候補が 1 つに絞れないことがある。
          items:
            $ref: "#/components/schemas/ItemCandidate"

    ItemCandidate:
      type: object
      required: [itemName]
      properties:
        itemName:
          type: string
          description: 自治体の品目表そのままの名称。
        conditions:
          type: array
          description: その品目に付く条件（素材・寸法など）。
          items:
            type: string
        matchesDimensions:
          type: boolean
          default: false
          description: 推定寸法がこの候補の寸法条件を**すべて**満たしているか。

    DetectedAttributes:
      type: object
      description: |
        抽出された構造化属性。読み取れない/確信がない場合は空文字（推測しない）。
        manufacturer / yearOfManufacture / capacity は**無料引取候補カテゴリのみ**埋まる
        （冷蔵庫・冷凍庫・洗濯機・乾燥機・エアコン・テレビ・電子レンジ・オーブンレンジ・
        自転車・電動アシスト・バイク・スクーター）。他カテゴリでは常に空文字。
      required: [modelNumber, manufacturer, yearOfManufacture, capacity, description]
      properties:
        modelNumber:
          type: string
          description: 銘板から読み取れる型番（全カテゴリ対象）。読取不可は空文字。
        manufacturer:
          type: string
          description: メーカー名（無料引取候補カテゴリのみ）。
        yearOfManufacture:
          type: string
          description: 製造年式（無料引取候補カテゴリのみ）。
        capacity:
          type: string
          description: |
            容量（無料引取候補カテゴリのみ、単位はカテゴリ別）。
            冷蔵庫/冷凍庫/電子レンジ/オーブンレンジ=L、洗濯機/乾燥機=kg、
            エアコン=畳数、テレビ=型/インチ、自転車・バイク類=なし。
        description:
          type: string
          description: 形状・用途の説明のみ（型番・メーカー・年式は含まない）。

    IndustrialClassification:
      type: object
      description: |
        産業廃棄物の大分類 1 件。分類体系は JWNET 分類コード表の大分類（32 分類）で、
        実装の単一ソースは `ImageModel/image-model/app/industrial.py` の
        `INDUSTRIAL_CATEGORIES`。
        ※ glossary.md の「産業廃棄物の20分類」（法定分類）とは別体系。
      required: [majorCategory, code, ratio, confidence]
      properties:
        majorCategory:
          type: string
          description: 産業廃棄物の大分類名。
          enum:
            - 燃え殻
            - 汚泥
            - 廃油
            - 廃酸
            - 廃アルカリ
            - 廃プラスチック類
            - 紙くず
            - 木くず
            - 繊維くず
            - 動植物性残さ
            - ゴムくず
            - 金属くず
            - ガラスくず、コンクリートくず及び陶磁器くず
            - 鉱さい
            - がれき類
            - 動物のふん尿
            - 動物の死体
            - ばいじん
            - 処分するために処理したもの（13号廃棄物）
            - 建設混合廃棄物
            - 安定型混合廃棄物
            - 管理型混合廃棄物
            - シュレッダーダスト
            - 石綿含有産業廃棄物
            - 水銀使用製品産業廃棄物
            - 水銀含有ばいじん等
            - 廃自動車
            - 廃電気機械器具
            - 医療用計測器類
            - 廃電池類
            - 複合材
            - 動物系固形不要物
        code:
          type: string
          description: JWNET 分類コード（7 桁）。例 "0600000"。
          pattern: "^[0-9]{7}$"
        ratio:
          type: integer
          description: |
            堆積全体に占めるおおよその体積割合（%）。5% 刻み。
            合計が 80〜120 の範囲なら 100 に比例再正規化される。
            大きく外れた場合はモデルの誤りを隠さないため生値のまま返る。
          minimum: 0
        confidence:
          type: string
          enum: [high, medium, low]
        evidence:
          type: string
          description: その分類と判断した視覚的根拠（1文）。判断材料が無い場合は空文字。

    VolumeEstimate:
      type: object
      description: 堆積全体の体積推定。写り込んだ寸法既知の物体をスケール参照にする。
      required: [min, max, unit, basis]
      properties:
        min:
          type: number
          description: 体積レンジの下限。
          minimum: 0
        max:
          type: number
          description: 体積レンジの上限。
          minimum: 0
        unit:
          type: string
          enum: [m3]
        basis:
          type: string
          description: 推定根拠。スケール参照に使った物体と概算方法。
        referenceObjects:
          type: array
          description: スケール参照に使った写り込み物体名（例 木製パレット、200Lドラム缶、人、トラック）。
          items:
            type: string

    RetakeSuggestion:
      type: object
      description: |
        追加撮影を促す領域 1 件。`instruction` 欠落・不正な領域・画面ほぼ全域の
        領域はサーバ側でドロップされる。
      required: [id, region, instruction]
      properties:
        id:
          type: integer
          description: 1 始まりの連番。
        region:
          $ref: "#/components/schemas/BBox"
        reason:
          type: string
          description: その箇所で分類・体積・品目を確定しづらい理由（1文）。
        instruction:
          type: string
          description: 排出者へ向けた追加撮影の指示。

    BBox:
      type: object
      description: |
        領域。**EXIF orientation 適用後（＝ブラウザが表示する向き）**の画像の
        幅/高さに対する % 座標（0–100、小数第1位）。原点は左上。

        サーバは Gemini に渡す前に向きを揃える（`app/imaging.normalize_image`）。
        クライアントは撮影された元ファイルをそのまま `<img>` に描き、% をそのまま
        CSS の `left/top/width/height` に当てればよい（ブラウザは EXIF を自動適用する）。
        実測の根拠は ImageModel の `docs/api-behavior-report.md` §3。
      required: [x, y, width, height]
      properties:
        x:
          type: number
          description: 左上 X（画像幅に対する %）。
        y:
          type: number
          description: 左上 Y（画像高さに対する %）。
        width:
          type: number
          description: 幅（%）。
        height:
          type: number
          description: 高さ（%）。

    ImageMeta:
      type: object
      description: |
        判定に使われた画像のメタ情報。寸法は **表示向き**（EXIF orientation 適用後）。
      required: [width, height, orientationNormalized]
      properties:
        width:
          type: integer
          description: 表示向きでの幅（px）。判定できなかった場合は 0。
        height:
          type: integer
          description: 表示向きでの高さ（px）。判定できなかった場合は 0。
        orientationNormalized:
          type: boolean
          description: |
            サーバが EXIF orientation を適用したか。true のとき width/height は
            適用後の値（元ファイルの格納寸法とは縦横が入れ替わっている）。

    Error:
      type: object
      description: |
        エラー body。`detail` は FastAPI 標準形（既存クライアント互換）。
        `code` / `retryable` は上流起因のエラーにのみ付き、クライアントが
        再送の可否を判断するために使う。400/401/422 の入力起因エラーには付かない。
      required: [detail]
      properties:
        detail:
          type: string
          description: 人が読めるエラーメッセージ。
        code:
          type: string
          description: 機械可読なエラーコード。
          enum: [upstream_error, upstream_unavailable, rate_limited, upstream_timeout, content_blocked]
        retryable:
          type: boolean
          description: 同じリクエストを再送してよいか。
